*~
*.swp
.idea
.idea/*
*.iml
*.ipr
*.iws
target
.DS_Store
.project
.cproject
.classpath
.settings
eclipse-classes
build
dependency-reduced-pom.xml
activemq-cpp/autom4te.cache/
activemq-cpp/m4/
activemq-cpp/config/
Makefile.in
activemq-cpp/aclocal.m4
activemq-cpp/config.h.in
configure

ThirdParty/
activemq-cpp/install
activemq-cpp/vs2010-build/x64
activemq-cpp/vs2010-build/.vs